* {
    background-color: grey;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.welcome {
    display: flex;
    flex-wrap: wrap;

    color: white;
    justify-content: center;
    text-align: center;
    padding: 150px;
}

.intro {
    background-color: transparent;
    align-items: flex-start;
}

#name {
    color: plum ;
}

#nav-back{
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin-bottom: 20px;
}

nav ul li {
    display: flex;
    justify-content: center;
    background-color: darkgray;
}

nav ul li a {
    text-decoration: none;
    background-color: darkgray;
}

.scrolling-title {
    display: flex;
    justify-content: space-evenly;
}

.slot-title {
    display: flex;
    padding: 20px;
    font-size: 40px;
    border-right-style: double;
}

.para-description {
    padding-left: 20px;
}

.cards {
    display: flex;
    height: 90px;
    width: 45px;
    justify-content: space-evenly;
}