* {
    background-color: grey;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.welcome {
    display: flex;
    flex-wrap: wrap;

    color: white;
    justify-content: center;
    text-align: center;
    padding: 150px;
}

.intro {
    background-color: transparent;
    align-items: flex-start;
}

#name {
    color: plum ;
}

#nav-back{
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin-bottom: 20px;
}

nav ul li {
    display: flex;
    justify-content: center;
    background-color: darkgray;
}

nav ul li a {
    text-decoration: none;
    background-color: darkgray;
}

.scrolling-title {
    display: flex;
    margin: 40px 0px;
}

.slot-title {
    display: flex;
    padding: 20px;
    font-size: 40px;
    border-right-style: double;
}

#para-description {
    padding-left: 40px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    height: 400px;
    width: 400px;
    border: 5px;
    border-style: solid;
    margin: 0px 40px;
    align-items: center;
}

.projects {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.img-margin {
margin: 0px 20px;
max-width: 300px ;
max-height: 300px;
}

#projects {
    padding-right: 40px;
}

#contact {
    padding-right: 45px;
}

#contact-list {
    text-align: center;
} 

#contact-style {
    display: flex;
    justify-content: space-between;
}