* {
    background-color: grey;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.welcome {
    display: flex;
    flex-wrap: wrap;
    background-image: none;
    color: white;
    justify-content: center;
    text-align: center;
    
}

#name {
    color: plum ;
}

#nav-back{
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin: 20px 0px
}

nav ul li {
    display: inline;
    justify-content: center;
    list-style: none;
    text-align: center;
    background-color: darkgray;
}

nav ul li a {
    text-decoration: none;
    justify-content: center;
    text-align: center;
    background-color: darkgray;
}
